language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - nightly

before_script:
  - composer install

script: vendor/bin/phpunit --coverage-clover=coverage.clover

after_success:
  - vendor/bin/ocular code-coverage:upload --format=php-clover coverage.clover

matrix:
  allow_failures:
    - php: hhvm